adal==1.1.0
africastalking==1.1.5
aioredis==1.2.0
alembic==1.4.2
amqp==2.3.2
aniso8601==7.0.0
appdirs==1.4.3
asgiref==2.3.2
asn1crypto==0.24.0
astroid==2.1.0.dev0
async-timeout==3.0.1
attrs==18.2.0
autobahn==19.2.1
Automat==0.7.0
autopep8==1.4.3
azure==4.0.0
azure-applicationinsights==0.1.0
azure-batch==4.1.3
azure-common==1.1.16
azure-cosmosdb-nspkg==2.0.2
azure-cosmosdb-table==1.0.5
azure-datalake-store==0.0.34
azure-eventgrid==1.2.0
azure-eventhub==1.2.0rc1
azure-graphrbac==0.40.0
azure-keyvault==1.1.0
azure-loganalytics==0.1.0
azure-mgmt==4.0.0
azure-mgmt-advisor==1.0.1
azure-mgmt-applicationinsights==0.1.1
azure-mgmt-authorization==0.50.0
azure-mgmt-batch==5.0.1
azure-mgmt-batchai==2.0.0
azure-mgmt-billing==0.2.0
azure-mgmt-cdn==3.0.0
azure-mgmt-cognitiveservices==3.0.0
azure-mgmt-commerce==1.0.1
azure-mgmt-compute==4.3.1
azure-mgmt-consumption==2.0.0
azure-mgmt-containerinstance==1.2.1
azure-mgmt-containerregistry==2.3.0
azure-mgmt-containerservice==4.2.2
azure-mgmt-cosmosdb==0.4.1
azure-mgmt-datafactory==0.6.0
azure-mgmt-datalake-analytics==0.6.0
azure-mgmt-datalake-nspkg==3.0.1
azure-mgmt-datalake-store==0.5.0
azure-mgmt-datamigration==1.0.0
azure-mgmt-devspaces==0.1.0
azure-mgmt-devtestlabs==2.2.0
azure-mgmt-dns==2.1.0
azure-mgmt-eventgrid==1.0.0
azure-mgmt-eventhub==2.1.0
azure-mgmt-hanaonazure==0.1.1
azure-mgmt-iotcentral==0.1.0
azure-mgmt-iothub==0.5.0
azure-mgmt-iothubprovisioningservices==0.2.0
azure-mgmt-keyvault==1.1.0
azure-mgmt-loganalytics==0.2.0
azure-mgmt-logic==3.0.0
azure-mgmt-machinelearningcompute==0.4.1
azure-mgmt-managementgroups==0.1.0
azure-mgmt-managementpartner==0.1.0
azure-mgmt-maps==0.1.0
azure-mgmt-marketplaceordering==0.1.0
azure-mgmt-media==1.0.0
azure-mgmt-monitor==0.5.2
azure-mgmt-msi==0.2.0
azure-mgmt-network==2.2.1
azure-mgmt-notificationhubs==2.0.0
azure-mgmt-nspkg==3.0.2
azure-mgmt-policyinsights==0.1.0
azure-mgmt-powerbiembedded==2.0.0
azure-mgmt-rdbms==1.4.1
azure-mgmt-recoveryservices==0.3.0
azure-mgmt-recoveryservicesbackup==0.3.0
azure-mgmt-redis==5.0.0
azure-mgmt-relay==0.1.0
azure-mgmt-reservations==0.2.1
azure-mgmt-resource==2.0.0
azure-mgmt-scheduler==2.0.0
azure-mgmt-search==2.0.0
azure-mgmt-servermanager==2.0.0
azure-mgmt-servicebus==0.5.2
azure-mgmt-servicefabric==0.2.0
azure-mgmt-signalr==0.1.1
azure-mgmt-sql==0.9.1
azure-mgmt-storage==2.0.0
azure-mgmt-subscription==0.2.0
azure-mgmt-trafficmanager==0.50.0
azure-mgmt-web==0.35.0
azure-nspkg==3.0.2
azure-servicebus==0.21.1
azure-servicefabric==6.3.0.0
azure-servicemanagement-legacy==0.20.6
azure-storage-blob==1.3.1
azure-storage-common==1.3.0
azure-storage-file==1.3.1
azure-storage-nspkg==3.0.0
azure-storage-queue==1.3.0
Babel==2.7.0
bcrypt==3.1.4
billiard==3.5.0.4
boto3==1.9.130
botocore==1.12.239
cachalot==0.2.0
cairocffi==0.9.0
CairoSVG==2.2.1
celery==4.2.1
celery-haystack==0.10
certifi==2018.10.15
cffi==1.11.5
channels==2.1.6
channels-redis==2.3.2
chardet==3.0.4
Click==7.0
constantly==15.1.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==2.3.1
cssselect2==0.2.1
daphne==2.2.5
decorator==4.4.2
defusedxml==0.5.0
dj-database-url==0.5.0
Django==2.2.10
django-allauth==0.38.0
django-appconf==1.0.2
django-cacheops==4.2
django-celery-beat==1.1.0
django-cors-headers==2.4.0
django-countries==5.3.2
django-crispy-forms==1.7.2
django-debug-toolbar==1.11
django-discover-runner==1.0
django-email-extras==0.3.4
django-filter==2.2.0
django-forms-builder==0.14.0
django-graphql-jwt==0.2.2
django-haystack==2.8.1
django-money==0.14.4
django-phonenumber-field==2.3.1
django-queryset-csv==1.0.2
django-redis==4.10.0
django-redis-cache==1.7.1
django-rest-auth==0.9.5
django-rest-swagger==2.2.0
django-role-permissions==2.2.0
django-silk==3.0.1
django-storages==1.7.1
django-timezone-field==3.0
djangorestframework==3.9.0
djangorestframework-filters==1.0.0.dev0
djangorestframework-gis==0.14
djangorestframework-jwt==1.11.0
dnspython==1.16.0
docutils==0.15.2
drf-haystack==1.8.4
elasticsearch==6.0.0
enum34==1.1.6
ephem==3.7.7.0
eventlet==0.25.1
filetype==1.0.5
Flask==1.1.2
Flask-Cors==3.0.8
Flask-GraphQL==2.0.1
Flask-JSON==0.3.4
Flask-Migrate==2.5.3
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.1
funcy==1.13
future==0.15.0
futures==3.1.1
geoip2==2.9.0
gprof2dot==2016.10.13
graphene==2.1.8
graphene-django==2.5.0
graphene-django-extras==0.4.6
graphene-sqlalchemy==2.2.2
graphql-core==2.2.1
graphql-relay==2.0.0
graphql-server-core==1.2.0
greenlet==0.4.15
gunicorn==19.9.0
h2==3.1.0
hiredis==1.0.0
hpack==3.0.0
html5lib==1.0.1
hyperframe==5.2.0
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
ipaddress==1.0.22
isodate==0.6.0
isort==4.3.4
itsdangerous==1.1.0
itypes==1.1.0
Jinja2==2.11.1
jmespath==0.9.4
jsonpickle==1.0
jwt==1.0.0
kombu==4.2.1
lazy-object-proxy==1.3.1
livereload==2.6.1
Mako==1.1.2
Markdown==3.0.1
MarkupSafe==1.0
maxminddb==1.4.1
mccabe==0.6.1
mkdocs==1.0.4
mkdocs-material==3.3.0
monotonic==1.5
msgpack==0.5.6
msrest==0.6.1
msrestazure==0.5.0
mutagen==1.42.0
oauthlib==2.1.0
olefile==0.46
openapi-codec==1.3.2
pep562==1.0
phonenumbers==8.10.10
pika==1.0.0b1
pilkit==2.0
Pillow==5.3.0
priority==1.3.0
promise==2.2.1
protobuf==3.11.4
psycopg2-binary==2.7.5
py-moneyed==0.8.0
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycodestyle==2.4.0
pycountry==18.12.8
pycparser==2.19
pydub==0.23.1
Pygments==2.3.1
PyHamcrest==1.9.0
PyJWT==1.6.4
pylint==2.1.1
pymdown-extensions==6.1
pymemcache==2.0.0
pyOpenSSL==19.0.0
pyparsing==2.2.2
PyPDF2==1.26.0
Pyphen==0.9.5
pypng==0.0.18
PyQRCode==1.2.1
python-crontab==2.3.5
python-dateutil==2.8.0
python-decouple==3.1
python-editor==1.0.4
python-gnupg==0.4.5
python-http-client==3.1.0
python-resize-image==1.1.18
python3-openid==3.1.0
pytz==2018.5
PyYAML==5.1.2
qrcode==6.0
raven==6.9.0
redis==2.10.6
reportlab==3.5.9
requests==2.19.1
requests-oauthlib==1.0.0
rest-framework-cache==0.1
rest-framework-generic-relations==1.2.1
Rx==1.6.1
s3transfer==0.2.1
schema==0.6.8
sendgrid==3.6.5
sendgrid-django==4.2.0
service-identity==18.1.0
simplejson==3.16.0
singledispatch==3.4.0.3
six==1.12.0
sphinx-me==0.3
SQLAlchemy==1.3.16
sqlparse==0.2.4
suds-jurko==0.6
tinycss2==0.6.1
tinydb==3.11.1
tinydb-smartcache==1.0.2
tornado==6.0.3
Twisted==18.9.0
txaio==18.8.1
typed-ast==1.1.0
uamqp==1.1.0rc1
unicodecsv==0.14.1
Unidecode==1.1.1
uritemplate==3.0.0
urllib3==1.21.1
uuid==1.30
validators==0.14.3
vine==1.1.4
Wand==0.4.5
WeasyPrint==43rc1
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.10.11
zope.interface==4.6.0
